NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
PII_ENCRYPTION_KEY=
PII_HMAC_SECRET=
ORDER_ACCESS_SIGNING_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_KAKAO_CHANNEL_URL=https://pf.kakao.com/
